.hero-container{
    height: 87vh;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    margin: 5vh 0vh;
    min-height: 87vh;
    width: 90%;
    background-image: url(scott-carbon-fiber-in-4k-cx0l83sb82kt1wxc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
}
.hero-contentText{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 5vw;
}
.hero-contentText h1{
    font-size: 3.2rem;
    font-weight: 900;
}
.hero-button{
    padding: 1.2vh 1.2vw;
    font-size: 1.1em;
    margin-top: 5vh;
}
.hero-button:hover{
    background-color:rgb(217, 214, 214);
    cursor: pointer;
}


@media (max-width :600px) {
    .hero-container{
       display: flex;
       height: 88vh;
       
    }
    .hero-content{
        width: 85%;
    }
    .hero-contentText{
        display: flex;
        align-items: flex-start;
        font-size: 1rem;
        padding-bottom: 8vh;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        
        
    }
    .hero-contentText h4{
        font-size: 0.8em ;
        display: flex;
        flex-wrap: wrap;
      
    }
    .hero-button{
        display: block;
    }
    .hero-button:hover{
        background-color:rgb(217, 214, 214);
        cursor: pointer;
    }
}