.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
    border-bottom: 1px solid rgb(83, 82, 82);
    height: 70px;
    background:linear-gradient(to bottom, white, rgb(79, 77, 77))
    
    }

.navbar-img{
    height: 60px;
    width: 60px;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-right: 1vw;
    
}
.navbar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 1.2rem;
    font-weight: 700;
}
.navbar-login{
    display: flex;
    justify-content:flex-end;
    flex-direction:row;
    text-decoration: none;
    font-weight: 50;
    align-items: center;
    margin-right: 10vw;
    color: aliceblue;
}
.navbar-logo h1{
    font-size: 5vh;
    font-weight: 200;
    color: aliceblue;
}

@media (max-width :600px) {
    .navbar-container{
        display: flex;
        height: 100%;
        width: 100%;
   
        justify-content: center;
    }
    .navbar-logo{
        display: flex;
        
        align-items: center;
        
        
    }
    .navbar-login{
        display: none;
    }
    .navbar-img{
        padding: 0 1vw;
    }
}